<%= form_with(model: @piece, local: true) do |form| %>

  <div class="form-group">
    <%= form.text_field :name, placeholder: 'Name', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.text_area :description, placeholder: 'Description', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :quantity, value: "1" %>
  </div>

  <div class="form-group">
    <%= form.text_field :price, placeholder: 'Price', class: 'form-control' %>
  </div>

  <% if action_name == "dashboard" %>
    <div class="field">
      <%= form.label :images %>
    <%= form.file_field :images, multiple:true %>
    </div>
  <% end %>

  <% if action_name == "edit" %>
    <div class="field">
      <%= form.label :new_images %>
      <%= form.file_field :new_images, multiple: true %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :video %>
   <%= form.file_field :video %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
