<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @piece.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @piece.description %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @piece.price %>0
</p>

<div class="row">
  <div class="col-md-6">
    <%= video_tag (url_for(@piece.video) if @piece.video.attached?), autoplay: :autoplay, loop: :loop, muted: :muted, controls: true, class: "modal-video" %>
  </div>
  <div class="col-md-6">
    <% @piece.images.each do |image| %>
      <%= image_tag (image), style: "height: auto; width: 250px;" %>
    <% end %>
  </div>

<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', dashboard_path %>
