<% if current_user.try(:admin?) %>
  <div class="row">
    <div class="col-lg-6">
    <h3>Upload a new piece</h3>
      <%= render 'pieces/form'%>
    </div>
    <div class="col-lg-6 text-center" style="padding-top: 25px;">
      <div class="dropdown">
        <a class="btn btn-lg btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Member Emails
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% @users.each do |user| %>
            <p style="font-family: calibra; text-align: left;" class="dropdown-item"><%= user.email %></p><br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6">
    <div class="card">
      <% @pieces.each do |piece| %>
        <p><%= piece.name %>: <%= link_to 'Show', piece %> / <%= link_to 'Edit', edit_piece_path(piece) %> / <%= link_to 'Destroy', piece, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>
      </div>
    </div>
  </div>
<% end %>