<% if mobile? %>
<br>
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <div id="carouselMobile" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner carousel-style">
          <div class="carousel-item active">
              <img src="/assets/melissalogo.jpg" class="d-block w-100 img-fluid" alt="Vida Magic Logo">
          </div>
          <% @pieces.each do |piece| %>
            <div class="carousel-item">  
                <%= image_tag (piece.images.joins(:blob).order('active_storage_blobs.filename ASC').first if piece.images.attached?), class:"d-block w-100 img-fluid" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
<br>
  <div id="carouselComputer" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">        
      <div class="carousel-item slow-carousel-item active"> 
        <div class="row home-row d-flex flex-wrap align-items-center row-border">
          <% 4.times do %>
           <span style="display: none;"><%= @piece = Piece.find(Piece.pluck(:id).sample) %></span>
            <div class="col-sm-3">
              <%= image_tag (@piece.images.joins(:blob).order('RANDOM()').first.variant(resize_to_limit: [200, 200]) if @piece.images.attached?), class:"img-thumbnail mx-auto d-block img-fluid", style:" box-shadow: 10px 10px 5px grey;" %>
            </div>
          <% end %>
        </div>         
      </div>     
      <div class="carousel-item slow-carousel-item"> 
      <div class="row home-row d-flex flex-wrap align-items-center row-border">
          <% 4.times do %>
            <span style="display: none;"><%= @piece = Piece.find(Piece.pluck(:id).sample) %></span>
            <div class="col-sm-3">
              <%= image_tag (@piece.images.joins(:blob).order('RANDOM()').first.variant(resize_to_limit: [200, 200]) if @piece.images.attached?), class:"img-thumbnail mx-auto d-block img-fluid", style:" box-shadow: 10px 10px 5px grey;" %>
            </div>
          <% end %>
        </div>              
      </div>      
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-8 offset-lg-2 my-auto">
    <% if mobile? %>
      <br>
      <br>
      <h1 style="font-weight: bold;">Vida Gallery</h1>
    <% else %>
      <h1>Vida Gallery</h1>
    <% end %>
  </div>
</div>
<br>

<% @pieces.each_slice(3) do |pieces| %>
  <div class="row">
    <% pieces.each do |piece| %>
      <div class="col-lg-4 gallery-img-css">
        <p class="gallery-p" style="margin: 0px;"><%= piece.name %></p>
        <%= link_to piece_modal_path(piece_id: piece.id), remote: true do %>        
          <%= image_tag (piece.images.joins(:blob).order('active_storage_blobs.filename ASC').first if piece.images.attached?), class:"img-thumbnail mx-auto d-block gallery-img-size", style:" box-shadow: 10px 10px 5px grey;" %>  
        <% end %>     
        <p class="gallery-p"><%= piece.piece_type %></p>
        <p class="gallery-p"><%= piece.size %></p>  
        <% if piece.frame? %> 
          <p class="gallery-p">Framed</p>
        <% else %>
          <p class="gallery-p">Unframed</p>
        <% end %>
        <p class="gallery-p"><%= piece.description %></p>       
      </div>
    <% if mobile? %>
      <img src="/assets/melissalogo.jpg" class="mobile-icon mx-auto d-block" height="50px" width="50px" alt="">
    <% end %>
    <% end %>
  </div>
<% end %>

<div class="container pagination justify-content-center">
  <%= paginate @pieces %>
</div>


