<div class="row home-row">
  <div class="col-lg">
    <h1>VIDA MAGIC</h1>
  </div>
</div>

<% if mobile? %>
  <div class="row">
    <div class="col-lg-4 offset-lg-4">
      <div id="carouselMobile" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner carousel-style">
          <div class="carousel-item active">
              <img src="/assets/melissalogo.jpg" class="d-block w-100 img-fluid" alt="Vida Magic Logo">
          </div>
          <% @pieces.each do |piece| %>
            <div class="carousel-item">  
                <%= image_tag (piece.images.joins(:blob).order('active_storage_blobs.filename ASC').first if piece.images.attached?), class:"d-block w-100 img-fluid" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div id="carouselComputer" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">        
      <div class="carousel-item slow-carousel-item active"> 
        <div class="row home-row d-flex flex-wrap align-items-center row-border">
          <% 4.times do %>
           <span style="display: none;"><%= @piece = Piece.find(Piece.pluck(:id).sample) %></span>
            <div class="col-sm-3">
              <%= image_tag (@piece.images.joins(:blob).order('RANDOM()').first.variant(resize_to_limit: [200, 200]) if @piece.images.attached?), class:"img-thumbnail mx-auto d-block img-fluid", style:" box-shadow: 10px 10px 5px grey;" %>
            </div>
          <% end %>
        </div>         
      </div>     
      <div class="carousel-item slow-carousel-item"> 
      <div class="row home-row d-flex flex-wrap align-items-center row-border">
          <% 4.times do %>
            <span style="display: none;"><%= @piece = Piece.find(Piece.pluck(:id).sample) %></span>
            <div class="col-sm-3">
              <%= image_tag (@piece.images.joins(:blob).order('RANDOM()').first.variant(resize_to_limit: [200, 200]) if @piece.images.attached?), class:"img-thumbnail mx-auto d-block img-fluid", style:" box-shadow: 10px 10px 5px grey;" %>
            </div>
          <% end %>
        </div>              
      </div>      
    </div>
  </div>
<% end %>
<br>
<br>

<div class="row home-row" style="background-color:black;">
  <div class="col-sm">
    <h5 style="color:white;">Melissa Vida is a multi-medium artist based out of the Pacific Northwest dedicating her craft to harnessing the power of the natural world and expressing the beauty, movement, and power of the region. She is inspired daily by her surroundings -- attempting to capture anything from the laboring twists-and-turns of a mountain creek, to gentle whisperings of swaying forests, to sharp and jagged lava rock beds. Using anything from acrylics to oils to spackle to express the different textures of our world, Melissa's pieces are truly one-of-a-kind, powerfully interpretive collections appreciated for not only their beauty but also their emotional power.
    <br>
    Melissa lives surrounded by mountains and pine forests in Vancouver, Washington with her husband and beagle.</h5>
  </div>
</div>

<div class="row home-row">
  <div class="col-sm">
    <a href="#" data-toggle="modal" data-target="#signUpModal"><h1>Become a Member</h1></a>
  </div>
</div>


