<!DOCTYPE html>
<html>
  <head>
    <title>Vida Gallery</title>
    <link rel = "icon" type = "image/jpg" sizes = "32x32" href = "/assets/melissalogo.jpg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">

    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>   
    <%= render 'layouts/sign_up_modal'%>    
    <nav class="navbar navbar-expand-sm navbar-dark bg-black">
      <a class="navbar-brand" href="/">
        <img src="/assets/melissalogo.jpg" class="mobile-icon" height="50px" width="50px" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link navbar-mobile-font" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-mobile-font" href="/gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navbar-mobile-font" href="/showcase">Feature</a>
          </li>
          <li class="nav-item">
            <% if current_user.try(:admin?) %>
              <a class="nav-link navbar-mobile-font" href="/admin">Dashboard</a>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbar-mobile-font" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Social
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="https://www.instagram.com/paint_knit_quilt_grow/?hl=en" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
              <a class="dropdown-item" href="https://twitter.com/vidamagic1" target="_blank"><i class="fab fa-twitter-square"></i> Twitter</a>
              <a class="dropdown-item" href="https://vidamagic.tumblr.com/" target="_blank"><i class="fab fa-tumblr-square"></i> Tumblr</a>
              <a class="dropdown-item" href="https://vidamagic3.wixsite.com/website" target="_blank"><img src="/assets/melissalogo.jpg" class="mobile-icon dropdown-icon" height="15px" width="15px" alt=""></i> Blog</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>    
    <% if notice || alert %>
      <p class="notice"><%= notice %></p> 
      <p class="alert"><%= alert %></p>
    <% end %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <div class="row sticky-bottom">
      <div class="col-lg-4 offset-lg-4 d-flex justify-content-center">   
        <a class="icon" href="https://www.instagram.com/paint_knit_quilt_grow/?hl=en" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        <a class="icon" href="https://twitter.com/vidamagic1" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
        <a class="icon" href="https://vidamagic.tumblr.com/" target="_blank"><i class="fab fa-tumblr-square fa-2x"></i></a>
      </div>
    </div>
  </body>
</html>
  
